@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

body {
    margin: 0;
    background: #1B244A;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}



.container {
    display: flex;
    justify-content: space-around;
}

.container h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
    margin: 25px 0;
}

.score-box {
    width: 155px;
    height: 120px;
    background: #080001;
    border-radius: 5px;
}

.score {
    margin: 0;
    padding: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;
}

.score-box .leader {
    color: #fff;
}

.buttons {
        display: flex;
    justify-content: space-between;
    padding-top: 26px;
}

button {
    background: transparent;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px; 

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
} 

.new-part {
    display: flex;
    justify-content: center;
    padding-top: 26px;
}

.buttons-other {
    width: initial;
    height: 45px;
}